<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | NEXT x LIKELION</title>
    <link rel="icon" href="../static/image/favicon_package_v0.16/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css'%}">
</head>
<body>
    <div class="header">
        <div class="logo roboto">
            <a href="{% url 'index'%}">
                <img src="{% static '../static/image/lion.png' %}" alt="logo">
                <p class="title">NEXT <span>X</span> LIKE<span>LION</span></p> 
            </a>   
        </div>
        <div class="nav notosans">
            <a href="{% url 'about'%}">About</a>
            <a href="{% url 'curriculum'%}">Curriculum</a>
            <a href="{% url 'network'%}">Network</a>
            <a href="{% url 'board'%}">Board</a> 
            <a class="colored" href="{% url 'contact'%}">Contact</a>
        </div>
    </div>
    <div style="width: 100%;" class="fcc">
        <img style="width: 50%;" src="{% static 'image/lion_says_roar.jpg'%}" alt="">
        <div class="notosans" style="font-size: 20px; font-weight: lighter; line-height: 2.5; padding: 0 200px; width: 25%; padding: 20px;">
            <div><span style="font-weight: normal; margin-right: 10px;">CALL:</span> 010 - 3146 - 1147</div>
            <div><span style="font-weight: normal; margin-right: 10px;">EMAIL:</span> info@likelion.com</div>
            <div><span style="font-weight: normal; margin-right: 10px;">FAX:</span> 0501-275-9748</div>
        </div>
    </div>
</body>
</html>