<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지방 | NEXT x LIKELION</title>
    <link rel="icon" href="../static/image/favicon_package_v0.16/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css'%}">
</head>
<body>
    <div class="header">
        <div class="logo roboto">
            <a href="{% url 'index'%}">
                <img src="{% static '../static/image/lion.png' %}" alt="logo">
                <p class="title">NEXT <span>X</span> LIKE<span>LION</span></p> 
            </a>   
        </div>
        <div class="nav notosans">
            <a href="{% url 'general'%}">자유게시판</a>
            <a href="{% url 'notice'%}">공지방</a>
            <a href="{% url 'qa'%}">Q&A</a> 
        </div>
    </div>
    <div class="main-title notosans">
        <div><p>{{detail_notice.title}}</p></div>
    </div>
    <div class="main-content notosans">
        <p>{{detail_notice.content}}</p>
    </div>
    <a class="button_new" href="{% url 'notice'%}">
        <img src="{%static '../static/image/arrows.png'%}" alt="">
    </a>
</body>
</html>