<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXT x LIKELION</title>
    <link rel="icon" href="../static/image/favicon_package_v0.16/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo roboto">
            <a href="{% url 'index'%}">
                <img src="{% static '../static/image/lion.png' %}" alt="logo">
                <p class="title">NEXT <span>X</span> LIKE<span>LION</span></p> 
            </a>   
        </div>
        <div class="nav notosans">
            <a href="{% url 'about'%}">About</a>
            <a href="{% url 'curriculum'%}">Curriculum</a>
            <a href="{% url 'network'%}">Network</a>
            <a href="{% url 'board'%}">Board</a>
            <a href="{% url 'contact'%}">Contact</a>
        </div>
    </div>
    <div class="main">
        <img src="{% static '../static/image/hackyourlife.png' %}" alt="logo">
    </div>
    <div class="count notosans">
        <div class="count_box">
            <div class="count_box_logo">
                <span id="icon" class="material-icons">
                star_rate
                </span></div>
            <div class="count_box_number"><span data-purecounter-duration="1" data-purecounter-end="2012" class="purecounter">0</span></div>
            <div class="count_box_detail">창립연도</div>
        </div>

        <div class="count_box">
            <div class="count_box_logo">
                <span id="icon" class="material-icons">
                    accessibility_new
                    </span>
            </div>
            <div class="count_box_number"><span data-purecounter-duration="2" data-purecounter-end="270" class="purecounter">0</span></div>
            <div class="count_box_detail">누적 멤버 수</div>
        </div>
        <div class="count_box">
            <div class="count_box_logo">
                <span id="icon" class="material-icons">
                    desktop_mac
                    </span>
            </div>
            <div class="count_box_number">
                <span data-purecounter-duration="4" data-purecounter-end="99999" class="purecounter">0</span>
            </div>
            <div class="count_box_detail">누적 커밋 수</div>
        </div>

    </div>
    <div class="footer roboto">© Copyright 2020 Minit</div>
    <script async src="{% static 'purecounter.js' %}"></script>
</body>
</html>


